<div class="contact-social">
  <ul class="social-icons">
    <li class="social-icon">
      <a href="#" class="social-icon__link">
        <img src="../../icons/messenger.svg" alt="" />
      </a>
    </li>
    <li class="social-icon">
      <a href="#" class="social-icon__link">
        <img src="../../icons/linkedin.svg" alt="" />
      </a>
    </li>
    <li class="social-icon">
      <a href="#" class="social-icon__link">
        <img src="../../icons/skype.svg" alt="" />
      </a>
    </li>
    <li class="social-icon">
      <a href="#" class="social-icon__link">
        <img src="../../icons/whatsapp.svg" alt="" />
      </a>
    </li>
    <li class="social-icon">
      <a href="#" class="social-icon__link">
        <img src="../../icons/instagram.svg" alt="" />
      </a>
    </li>
  </ul>
  <div class="contact-social__inner">
    <img class="social-logo" src="../icons/chat.png" alt="chat bubble logo" />
  </div>
</div>
