<!--footer-->
<footer class="footer">
  <div class="footer-top">
    <div class="footer-contacts">
      <div class="footer-contact-wrapper">
        <div class="footer-phone">
          <a class="footer-phone-link" href="tel:">+38 067 555-55-55</a>
        </div>
        <div class="footer-mail">
          <a class="footer-mail-link" href="#">vik@gmail.com</a>
        </div>
      </div>
      <div class="footer-social">
        <ul class="footer-social-icons">
          <li class="footer-social-icon">
            <a href="#" class="footer-social-icon__link">
              <img src="../icons/messenger.svg" alt="" />
            </a>
          </li>
          <li class="footer-social-icon">
            <a href="#" class="footer-social-icon__link">
              <img src="../icons/linkedin.svg" alt="" />
            </a>
          </li>
          <li class="footer-social-icon">
            <a href="#" class="footer-social-icon__link">
              <img src="../icons/skype.svg" alt="" />
            </a>
          </li>
          <li class="footer-social-icon">
            <a href="#" class="footer-social-icon__link">
              <img src="../icons/whatsapp.svg" alt="" />
            </a>
          </li>
          <li class="footer-social-icon">
            <a href="#" class="footer-social-icon__link">
              <img src="../icons/instagram.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-logo">
      <a href="#" class="footer-logo-icon">
        Your broker <span class="logo-sub">on real eastate</span>
      </a>
    </div>

    <form class="form">
      <div class="form-title">
        <h2>Оставить заявку:</h2>
      </div>
      <div class="name-form form-item">
        <div class="form-head">
          <label for="name">Name</label>
          <!-- <div class="invalid-name">Please, enter valid name</div> -->
        </div>
        <input
          id="name"
          type="text"
          name="name"
          placeholder="Enter your name..."
          required
        />
      </div>
      <div class="phone-form form-item">
        <div class="form-head">
          <label for="phone">Phone number</label>
          <!-- <div class="invalid-phone">
                Please, enter valid phone number
              </div> -->
        </div>
        <input
          id="phone"
          type="text"
          name="phone"
          placeholder="Enter your phone number..."
          required
        />
      </div>
      <div class="massage-form form-item">
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          placeholder="Your message..."
          required
        ></textarea>
      </div>
      <div class="sendBtn form-item">
        <!--Send Button-->
        <button type="submit" value="Send" class="btn send">
          <div class="sendText">Send</div>
        </button>
      </div>
    </form>
  </div>
</footer>
